div#container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

div#chart_options {
    display: flex;
}

div.column {
  flex: 50%;
}

div#chart_base,
svg {
    padding: 0;
    margin: 0;
}

div#chart_options {
    padding: 0.3rem;
    border-bottom: 1px solid black;
}

svg#chart {
    width: 100%;
    height: 100%;
}

circle.curve_point {
    r: 1.5;
    fill: white;
    stroke: black;
    stroke-width: 1;
}

path.curve {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
    opacity: 1
}