html, body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

div#container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

div#chart_options {
    display: flex;
}

div.column {
  flex: auto;
}

div#chart_base,
svg {
    padding: 0;
    margin: 0;
}

div#chart_options {
    padding: 0.3rem;
    border-bottom: 1px solid black;
}

svg#chart {
    width: 100%;
    height: 100%;
}
circle.curve_point {
    r: 1.5;
    fill: white;
    stroke: black;
    stroke-width: 1;
}

path.curve {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
    opacity: 1
}

g.legend text {
    font-size: 0.7rem;
    alignment-baseline: hanging;
}

g.legend rect {
    stroke: black;
    stroke-width: 0.5;
}

div#chart_footer {
    padding: 0 1rem 0 1rem;
    text-align: right;
    font-size: 0.7rem;
}

.axis line {
  stroke: lightgrey;
  shape-rendering: crispEdges;
}
