svg#ib {
    width: 1200px;
    height: 800px;
    border: 1px solid WhiteSmoke;
}

path.kite {
    fill: WhiteSmoke;
    /*stroke: Snow*/
}

.links {
  stroke: #000;
  stroke-opacity: 0.2;
  fill: #f00;
}

.polygons {
  fill: none;
  stroke: #000;
}

/*.polygons :first-child {
  fill: #f00;
}
*/
.sites {
  fill: #000;
  stroke: #fff;
}

/*.sites :first-child {
  fill: #fff;
}*/

.triangle {
  fill: #00f;
  /*stroke-opacity: 0;*/
  stroke-width: 0.5;
  stroke: #fff;

}